<a data-ui-sref="^.view" class="btn btn-float btn-danger m-btn" data-uib-tooltip="Add new domain"><i class="zmdi zmdi-plus"></i></a>

<div class="block-header">
    <h2>Domains list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Domains Table</h2>
    </div>
    <div class="card-body table-responsive">
        <table data-ng-table="dlCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Domain</th>
                    <th>Fb app ID</th>
                    <th>Fb admins IDs</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody data-ng-if="$data.length > 0">
                <tr data-ng-repeat="domain in $data">
                    <td><a data-ui-sref="^.view({id: domain.id})" data-uib-tooltip="Edit domain">{{domain.id}}</a></td>
                    <td>{{domain.domain}}</td>
                    <td>
                        <span ng-if="domain.fb_app_id">{{domain.fb_app_id}}</span>
                        <span ng-if="!domain.fb_app_id">-</span>
                    </td>
                    <td>
                        <span data-ng-if="domain.fb_user_id" ng-init="users = domain.fb_user_id.split(',')">
                            <a data-ng-repeat="user in users" class="m-r-5" target="_blank" data-uib-tooltip="Open admin user in new tab" ng-href="https://www.facebook.com/profile.php?id={{user}}">{{user}}</a>
                        </span>
                        <span data-ng-if="!domain.fb_user_id">-</span>
                    </td>
                    <td>
                        <a data-ui-sref="^.view({id: domain.id})" class="btn btn-sm btn-default" data-uib-tooltip="Edit domain">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="$data.length === 0">
                <tr>
                    <th colspan="5" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>