<div class="block-header">
    <h2>
        <span data-ng-if="dvCtrl.domain.id">Edit domain <strong>#{{::dvCtrl.domain.id}}</strong></span>
        <span data-ng-if="!dvCtrl.domain.id">Create domain</span>
    </h2>
</div>

<form role="form" class="clearfix" name="form" data-ng-submit="dvCtrl.saveDomain(form)" novalidate data-ng-server-validate>
<div class="card">
    <div class="card-header">
        <h2>Domain form</h2>
    </div>

    <div class="card-body card-padding clearfix">
        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.domain.$dirty) && form.domain.$invalid}">
                    <div class="fg-line">
                        <label for="domain">Domain</label>
                        <input type="text" class="form-control input-sm" id="domain" name="domain" data-ng-model="dvCtrl.domain.domain" placeholder="Enter domain" required>
                    </div>
                    <div data-ng-messages="form.domain.$error" role="alert" data-ng-if="form.$submitted || form.domain.$dirty">
                        <small class="help-block" data-ng-message="required">Domain cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.domain.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.main_phone_number.$dirty) && form.main_phone_number.$invalid}">
                    <div class="fg-line">
                        <label for="main_phone_number">Main phone number</label>
                        <input type="text" class="form-control input-sm" id="main_phone_number" name="main_phone_number" data-ng-model="dvCtrl.domain.main_phone_number" placeholder="Enter main phone number" required>
                    </div>
                    <div data-ng-messages="form.main_phone_number.$error" role="alert" data-ng-if="form.$submitted || form.main_phone_number.$dirty">
                        <small class="help-block" data-ng-message="required">Main phone number cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.main_phone_number.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.phone_numbers.$dirty) && form.phone_numbers.$invalid}">
                    <div class="fg-line">
                        <label for="phone_numbers">Phone numbers</label>
                        <input type="text" class="form-control input-sm" id="phone_numbers" name="phone_numbers"
                               data-ng-pattern="/\d+(,\s*\d+)*/"
                               data-ng-model="dvCtrl.domain.phone_numbers" placeholder="ex: 37369401040, 37360222250">
                    </div>
                    <div data-ng-messages="form.phone_numbers.$error" role="alert" data-ng-if="form.$submitted || form.phone_numbers.$dirty">
                        <small class="help-block" data-ng-message="pattern">Phone numbers should contain digits only and can be separated by comma.</small>
                        <small class="help-block" data-ng-message="server">{{form.phone_numbers.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.fb_app_id.$dirty) && form.fb_app_id.$invalid}">
                    <div class="fg-line">
                        <label for="fb_app_id">Fb Application ID</label>
                        <input id="fb_app_id" type="text" class="input-sm fg-input form-control" name="fb_app_id" placeholder="ex: 749291078539745"
                               ng-model="dvCtrl.domain.fb_app_id" data-ng-pattern="/[1-9]\d*/">
                    </div>
                    <div data-ng-messages="form.fb_app_id.$error" role="alert" ng-if="form.$submitted || form.fb_app_id.$dirty">
                        <small class="help-block" data-ng-message="pattern">Fb Application ID should contain digits only.</small>
                        <small class="help-block" data-ng-message="server">{{form.fb_app_id.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.fb_user_id.$dirty) && form.fb_user_id.$invalid}">
                    <div class="fg-line">
                        <label for="fb_user_id">Fb Admins IDs <small>(these users can delete fb comments)</small></label>
                        <input id="fb_user_id" type="text" class="input-sm fg-input form-control" name="fb_user_id" placeholder="ex: 7492914123163,7492912346723,74929186286"
                               ng-model="dvCtrl.domain.fb_user_id" data-ng-pattern="/[1-9]\d*(,\s*[1-9]\d*)*/">
                    </div>
                    <div data-ng-messages="form.fb_user_id.$error" role="alert" ng-if="form.$submitted || form.fb_user_id.$dirty">
                        <small class="help-block" data-ng-message="pattern">Fb Admins IDs should contain digits only and can be separated by comma.</small>
                        <small class="help-block" data-ng-message="server">{{form.fb_user_id.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.fb_link.$dirty) && form.fb_link.$invalid}">
                    <div class="fg-line">
                        <label for="fb_link">FB link</label>
                        <input type="url" id="fb_link" class="input-sm fg-input form-control" name="fb_link"
                               data-ng-model="dvCtrl.domain.fb_link">
                    </div>
                    <div data-ng-messages="form.fb_link.$error" role="alert" ng-if="form.$submitted || form.fb_link.$dirty">
                        <small class="help-block" data-ng-message="url">Invalid URL.</small>
                        <small class="help-block" data-ng-message="server">{{form.fb_link.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.instagram_link.$dirty) && form.instagram_link.$invalid}">
                    <div class="fg-line">
                        <label for="meta_title">Instagram link</label>
                        <input type="url" id="instagram_link" class="input-sm fg-input form-control" name="instagram_link"
                               data-ng-model="dvCtrl.domain.instagram_link">
                    </div>
                    <div data-ng-messages="form.instagram_link.$error" role="alert" ng-if="form.$submitted || form.instagram_link.$dirty">
                        <small class="help-block" data-ng-message="url">Invalid URL.</small>
                        <small class="help-block" data-ng-message="server">{{form.instagram_link.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.vk_link.$dirty) && form.vk_link.$invalid}">
                    <div class="fg-line">
                        <label for="vk_link">VK link</label>
                        <input type="url" id="vk_link" class="input-sm fg-input form-control" name="vk_link"
                               data-ng-model="dvCtrl.domain.vk_link">
                    </div>
                    <div data-ng-messages="form.vk_link.$error" role="alert" ng-if="form.$submitted || form.vk_link.$dirty">
                        <small class="help-block" data-ng-message="url">Invalid URL.</small>
                        <small class="help-block" data-ng-message="server">{{form.vk_link.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               data-ng-true-value="1"
                               data-ng-false-value="0"
                               data-ng-model="dvCtrl.domain.can_car_order">
                        <i class="input-helper"></i>
                        Can order cars on this domain?
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               data-ng-true-value="1"
                               data-ng-false-value="0"
                               data-ng-model="dvCtrl.domain.can_garage_order">
                        <i class="input-helper"></i>
                        Can order corteges on this domain?
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_title.$dirty) && form.meta_title.$invalid}">
                    <div class="fg-line">
                        <label for="meta_title">Meta title</label>
                        <input type="text" id="meta_title" class="input-sm fg-input form-control" name="meta_title" data-ng-model="dvCtrl.domain.meta_title">
                    </div>
                    <div data-ng-messages="form.meta_title.$error" role="alert" ng-if="form.$submitted || form.meta_title.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_title.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_keywords.$dirty) && form.meta_keywords.$invalid}">
                    <div class="fg-line">
                        <label for="meta_keywords">Meta keywords</label>
                        <input type="text" id="meta_keywords" class="input-sm fg-input form-control" name="meta_keywords" data-ng-model="dvCtrl.domain.meta_keywords">
                    </div>
                    <div data-ng-messages="form.meta_keywords.$error" role="alert" ng-if="form.$submitted || form.meta_keywords.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_keywords.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-b-10">
            <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_description.$dirty) && form.meta_description.$invalid}">
                <div class="fg-line">
                    <label for="meta_description">Meta description</label>
                    <textarea class="input-sm fg-input form-control" rows="4" id="meta_description" name="meta_description" data-ng-model="dvCtrl.domain.meta_description"></textarea>
                </div>
                <div data-ng-messages="form.meta_description.$error" role="alert" ng-if="form.$submitted || form.meta_description.$dirty">
                    <small class="help-block" data-ng-message="server">{{form.meta_description.$error.server}}</small>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="front_asset_type" ng-model="dvCtrl.domain.front_asset_type" value="image">
                        <i class="input-helper"></i>
                        In the header on the front page should be image
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="front_asset_type" ng-model="dvCtrl.domain.front_asset_type" value="video">
                        <i class="input-helper"></i>
                        In the header on the front page should be video
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="items_type" ng-model="dvCtrl.domain.items_type" value="cortege">
                        <i class="input-helper"></i>
                        In front page should be corteges
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="items_type" ng-model="dvCtrl.domain.items_type" value="single">
                        <i class="input-helper"></i>
                        In front page should be single cars
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="car_info_position" ng-model="dvCtrl.domain.car_info_position" value="left">
                        <i class="input-helper"></i>
                        In front page car info should be aligned on the left
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="car_info_position" ng-model="dvCtrl.domain.car_info_position" value="right">
                        <i class="input-helper"></i>
                        In front page car info should be aligned on the right
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Front page constructor</h2>
    </div>

    <div class="card-body card-padding clearfix">
        <page-constructor data-instance="dvCtrl.domain" data-form="form"></page-constructor>
    </div>
</div>
</form>