<a data-ui-sref="^.view" class="btn btn-float btn-danger m-btn" data-uib-tooltip="Add new garage"><i class="zmdi zmdi-plus"></i></a>

<div class="block-header">
    <h2>Garages list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Garages Table</h2>
    </div>
    <div class="card-body table-responsive">
        <table data-ng-table="glCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Cars</th>
                    <th>Is active?</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody data-ng-if="$data.length > 0">
                <tr data-ng-repeat="garage in $data">
                    <td><a data-ui-sref="^.view({id: garage.id})" data-uib-tooltip="Edit garage">{{garage.id}}</a></td>
                    <td>{{garage.name}}</td>
                    <td>
                        <a ng-repeat="car in garage.cars" class="m-r-5" ui-sref="car.view({id: car.id})" data-uib-tooltip="View car">{{car.brand}} {{car.model}}, {{car.year}}</a>
                    </td>
                    <td><i class="zmdi zmdi-hc-fw" ng-class="garage.is_active ? 'zmdi-check' : 'zmdi-close'"></i></td>
                    <td class="text-nowrap">
                        <a data-ui-sref="^.view({id: garage.id})" class="btn btn-sm btn-default" data-uib-tooltip="Edit garage">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="javascript: void(0)" data-ng-click="glCtrl.deleteGarage(garage)" class="btn btn-sm btn-default" data-uib-tooltip="Remove garage">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <button ng-if="!$last" ng-click="glCtrl.changeGaragePriority($index, $index + 1)" class="btn btn-sm btn-default bgm-red" data-uib-tooltip="Decrease priority">
                            <i class="zmdi zmdi-long-arrow-down zmdi-hc-fw"></i>
                        </button>
                        <button ng-if="!$first" ng-click="glCtrl.changeGaragePriority($index, $index - 1)" class="btn btn-sm btn-default bgm-green" data-uib-tooltip="Increase priority">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-fw"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="$data.length === 0">
                <tr>
                    <th colspan="5" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>