<div class="block-header">
    <h2>
        <span data-ng-if="gvCtrl.garage.id">Edit garage <strong>#{{::gvCtrl.garage.id}}</strong></span>
        <span data-ng-if="!gvCtrl.garage.id">Create garage</span>
    </h2>
</div>
<form role="form" class="clearfix" name="form" data-ng-submit="gvCtrl.saveGarage(form)" novalidate data-ng-server-validate>
<div class="card">
    <div class="card-header">
        <h2>Garage form</h2>
    </div>

    <div class="card-body card-padding clearfix">
        <div class="clearfix m-b-15">
            <div class="col-sm-5">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.name.$dirty) && form.name.$invalid}">
                    <div class="fg-line">
                        <label for="name">name</label>
                        <input id="name" type="text" class="input-sm fg-input form-control" name="name" placeholder="ex: Brilliant"
                               ng-model="gvCtrl.garage.name" required>
                    </div>
                    <div data-ng-messages="form.name.$error" role="alert" ng-if="form.$submitted || form.name.$dirty">
                        <small class="help-block" data-ng-message="required">name cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.name.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.price.$dirty) && form.price.$invalid}">
                    <div class="fg-line">
                        <label for="price">Price, &euro;</label>
                        <input id="price" type="number" min="0" step="1" class="input-sm fg-input form-control" name="price" placeholder="ex: 1200"
                               ng-model="gvCtrl.garage.price" required>
                    </div>
                    <div data-ng-messages="form.price.$error" role="alert" ng-if="form.$submitted || form.price.$dirty">
                        <small class="help-block" data-ng-message="required">Price cannot be blank.</small>
                        <small class="help-block" data-ng-message="min">Price should be greater than &euro;0</small>
                        <small class="help-block" data-ng-message="server">{{form.price.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-12">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.car.$dirty) && form.car.$invalid}">
                    <div class="fg-line select">
                        <label for="car">Cars</label>
                        <select multiple class="input-sm fg-input form-control" name="car" id="car"
                                ng-model="gvCtrl.garage.car_ids"
                                ng-options="c.id as c.fullname for c in gvCtrl.cars"
                                required>
                        </select>
                    </div>
                    <div data-ng-messages="form.car.$error" role="alert" ng-if="form.$submitted || form.car.$dirty">
                        <small class="help-block" data-ng-message="required">Cars cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.car.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="clearfix m-b-15">-->
            <!--<div class="col-sm-3">-->
                <!--<div class="form-group">-->
                    <!--<div class="toggle-switch">-->
                        <!--<label for="is_active" class="ts-label">Is active?</label>-->
                        <!--<input id="is_active" type="checkbox" hidden="hidden" ng-model="gvCtrl.garage.is_active">-->
                        <!--<label for="is_active" class="ts-helper"></label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="clearfix m-b-15">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_title.$dirty) && form.meta_title.$invalid}">
                    <div class="fg-line">
                        <label for="meta_title">Meta title</label>
                        <input type="text" id="meta_title" class="input-sm fg-input form-control" name="meta_title" data-ng-model="gvCtrl.garage.meta_title">
                    </div>
                    <div data-ng-messages="form.meta_title.$error" role="alert" ng-if="form.$submitted || form.meta_title.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_title.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_keywords.$dirty) && form.meta_keywords.$invalid}">
                    <div class="fg-line">
                        <label for="meta_keywords">Meta keywords</label>
                        <input type="text" id="meta_keywords" class="input-sm fg-input form-control" name="meta_keywords" data-ng-model="gvCtrl.garage.meta_keywords">
                    </div>
                    <div data-ng-messages="form.meta_keywords.$error" role="alert" ng-if="form.$submitted || form.meta_keywords.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_keywords.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-b-10">
            <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_description.$dirty) && form.meta_description.$invalid}">
                <div class="fg-line">
                    <label for="meta_description">Meta description</label>
                    <textarea class="input-sm fg-input form-control" rows="4" id="meta_description" name="meta_description" data-ng-model="gvCtrl.garage.meta_description"></textarea>
                </div>
                <div data-ng-messages="form.meta_description.$error" role="alert" ng-if="form.$submitted || form.meta_description.$dirty">
                    <small class="help-block" data-ng-message="server">{{form.meta_description.$error.server}}</small>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</div>

<div class="card" data-ng-if="gvCtrl.garage">
    <div class="card-header">
        <h2>Garage view constructor</h2>
    </div>

    <div class="card-body card-padding clearfix">
        <item-view-constructor
                data-item="gvCtrl.garage"
                data-form="form"
                data-type="garage"
                data-assets="gvCtrl.assets"></item-view-constructor>
    </div>
</div>
</form>