<div>
    <div class="col-sm-6 m-b-15">
        <div class="browser-container animated">
            <div class="browser">
                <div class="browser-header">
                    <div class="browser-controls"></div>
                    <div class="browser-controls"></div>
                    <div class="browser-controls"></div>
                </div>
                <div class="browser-body">
                    <div class="row clearfix m-b-5">
                        <div class="col-sm-12 text-center" ng-switch="instance.front_asset_type">
                            <div class="browser-placeholder browser-placeholder-lg"
                                 ng-switch-when="image"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip-template="'templates/domain/directive/photo.html'"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="instance.front_image"
                                 name="front_image"
                                 data-ng-class="{'has-error': (form.$submitted || form.front_image.$dirty) && form.front_image.$invalid}"
                                 ng-mouseenter="setActiveAsset(instance.front_image_url || instance.front_image)"
                                 ngf-select
                                 data-ng-model="instance.front_image"
                                 data-ng-required="!instance.front_image"
                                 data-ngf-validate="imageValidation"
                                 data-ngf-multiple="false"
                                 data-ngf-drop-available="false"
                                 data-ngf-accept="'image/*'"
                                 data-ngf-run-all-validations="true">
                                &lt;front image&gt;
                                <strong ng-if="instance.front_image">({{instance.front_image.name || instance.front_image}})</strong>
                            </div>
                            <div class="browser-placeholder browser-placeholder-lg"
                                 ng-switch-when="video"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip-template="'templates/domain/directive/video.html'"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="instance.front_video"
                                 ng-mouseenter="setActiveAsset(instance.front_video_url || instance.front_video)"
                                 name="front_video"
                                 data-ng-class="{'has-error': (form.$submitted || form.front_video.$dirty) && form.front_video.$invalid}"
                                 ngf-select
                                 data-ng-model="instance.front_video"
                                 data-ng-required="!instance.front_video"
                                 data-ngf-validate="videoValidation"
                                 data-ngf-multiple="false"
                                 data-ngf-drop-available="false"
                                 data-ngf-accept="'video/*'"
                                 data-ngf-run-all-validations="true">
                                &lt;front video&gt; <strong ng-if="instance.front_video">({{instance.front_video.name || instance.front_video}})</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-5">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <input type="hidden" name="title" required ng-model="instance.title">
                            <div class="browser-placeholder browser-placeholder-sm"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip="{{instance.title}}"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="instance.title"
                                 data-ng-class="{'has-error': (form.$submitted || form.title.$dirty) && form.title.$invalid}"
                                 ng-click="changeTextModal('instance.title', {size: 'sm', required: true})">
                                &lt;title&gt; <strong ng-if="instance.title">({{instance.title}})</strong>
                            </div>
                        </div>
                    </div>
                    <div class="browser-placeholder browser-placeholder-lg text-center m-b-5"
                         ng-if="!skipContactImage"
                         tooltip-popup-close-delay='100'
                         tooltip-placement="auto"
                         uib-tooltip-template="'templates/domain/directive/photo.html'"
                         tooltip-append-to-body="true"
                         tooltip-enable="instance.contact_image"
                         name="contact_image"
                         data-ng-class="{'has-error': (form.$submitted || form.contact_image.$dirty) && form.contact_image.$invalid}"
                         ng-mouseenter="setActiveAsset(instance.contact_image_url || instance.contact_image)"
                         ngf-select
                         data-ng-model="instance.contact_image"
                         data-ng-required="!instance.contact_image"
                         data-ngf-multiple="false"
                         data-ngf-drop-available="false"
                         data-ngf-accept="'image/*'"
                         data-ngf-run-all-validations="true"
                         data-ngf-validate="imageValidation">
                        &lt;contact image&gt; <strong ng-if="instance.contact_image">({{instance.contact_image.name || instance.contact_image}})</strong>
                    </div>
                    <div class="browser-placeholder browser-placeholder-lg text-center m-b-5"
                         ng-if="!skipPerformanceImage"
                         tooltip-popup-close-delay='100'
                         tooltip-placement="auto"
                         uib-tooltip-template="'templates/domain/directive/photo.html'"
                         tooltip-append-to-body="true"
                         tooltip-enable="instance.performance_image"
                         name="performance_image"
                         data-ng-class="{'has-error': (form.$submitted || form.performance_image.$dirty) && form.performance_image.$invalid}"
                         ng-mouseenter="setActiveAsset(instance.performance_image_url || instance.performance_image)"
                         ngf-select
                         data-ng-model="instance.performance_image"
                         data-ng-required="!instance.performance_image"
                         data-ngf-multiple="false"
                         data-ngf-drop-available="false"
                         data-ngf-accept="'image/*'"
                         data-ngf-run-all-validations="true"
                         data-ngf-validate="imageValidation">
                        &lt;performance image&gt; <strong ng-if="instance.performance_image">({{instance.performance_image.name || instance.performance_image}})</strong>
                    </div>
                    <div class="browser-placeholder browser-placeholder-lg text-center"
                         ng-if="!skipGaragePhoto"
                         tooltip-popup-close-delay='100'
                         tooltip-placement="auto"
                         uib-tooltip-template="'templates/domain/directive/photo.html'"
                         tooltip-append-to-body="true"
                         tooltip-enable="instance.garage_photo"
                         name="garage_photo"
                         data-ng-class="{'has-error': (form.$submitted || form.garage_photo.$dirty) && form.garage_photo.$invalid}"
                         ng-mouseenter="setActiveAsset(instance.garage_photo_url || instance.garage_photo)"
                         ngf-select
                         data-ng-model="instance.garage_photo"
                         data-ngf-multiple="false"
                         data-ngf-drop-available="false"
                         data-ngf-accept="'image/*'"
                         data-ngf-run-all-validations="true"
                         data-ngf-validate="imageValidation">
                        &lt;garage list image&gt; <strong ng-if="instance.garage_photo">({{instance.garage_photo.name || instance.garage_photo}})</strong>
                    </div>
                </div>
            </div>
            <div class="browser-footer"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="clearfix m-l-15 form-group has-error">
            <div data-ng-messages="form.title.$error" role="alert" ng-if="form.$submitted || form.title.$dirty">
                <small class="help-block" data-ng-message="required">Title cannot be blank.</small>
                <small class="help-block" data-ng-message="server">{{form.title.$error.server}}</small>
            </div>
            <div data-ng-messages="form.contact_image.$error" role="alert" ng-if="(form.$submitted || form.contact_image.$dirty) && !skipContactImage">
                <small class="help-block" data-ng-message="required">Contact's image cannot be blank.</small>
                <small class="help-block" data-ng-message="minWidth">Contact's image width should be greater than {{imageValidation.width.min}}px.</small>
                <small class="help-block" data-ng-message="minHeight">Contact's image height should be greater than {{imageValidation.height.min}}px.</small>
            </div>
            <div data-ng-messages="form.garage_photo.$error" role="alert" ng-if="(form.$submitted || form.garage_photo.$dirty) && !skipGaragePhoto">
                <small class="help-block" data-ng-message="minWidth">Garage's image width should be greater than {{imageValidation.width.min}}px.</small>
                <small class="help-block" data-ng-message="minHeight">Garage's image height should be greater than {{imageValidation.height.min}}px.</small>
            </div>
            <div data-ng-messages="form.performance_image.$error" role="alert" ng-if="(form.$submitted || form.performance_image.$dirty) && !skipPerformanceImage">
                <small class="help-block" data-ng-message="required">Performance's image cannot be blank.</small>
                <small class="help-block" data-ng-message="minWidth">Performance's image width should be greater than {{imageValidation.width.min}}px.</small>
                <small class="help-block" data-ng-message="minHeight">Performance's image height should be greater than {{imageValidation.height.min}}px.</small>
            </div>

            <div data-ng-messages="form.front_video.$error" role="alert" ng-if="form.$submitted || form.front_video.$dirty">
                <small class="help-block" data-ng-message="required">Front video cannot be blank.</small>
                <small class="help-block" data-ng-message="maxDuration">Front video duration should be less than {{videoValidation.duration.max}}</small>
                <small class="help-block" data-ng-message="minDuration">Front video duration should be greater than {{videoValidation.duration.min}}</small>
            </div>
        </div>
    </div>
</div>