<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Text for car</h3>
</div>
<div class="modal-body" id="modal-body">
    <form ng-submit="ptmCtrl.save(form)" role="form" name="form" class="clearfix" novalidate>
        <div class="col-sm-12">
            <div class="form-group m-b-0" data-ng-class="{'has-error': (form.$submitted || form.text.$dirty) && form.text.$invalid}">
                <div class="fg-line">
                    <label for="text-{{ptmCtrl.size}}">Text</label>
                    <textarea ng-if="ptmCtrl.size === 'lg'" placeholder="Type text here" class="input-sm fg-input form-control" rows="5" id="text-{{ptmCtrl.size}}" name="text"
                              autofocus data-ng-model="ptmCtrl.model" required></textarea>

                    <input type="text" ng-if="ptmCtrl.size === 'sm'" placeholder="Type text here" class="input-sm fg-input form-control" id="text-{{ptmCtrl.size}}" name="text"
                           ng-pattern="ptmCtrl.pattern" autofocus
                           data-ng-model="ptmCtrl.model" required>
                </div>
                <div data-ng-messages="form.text.$error" role="alert" ng-if="form.$submitted || form.text.$dirty">
                    <small class="help-block" data-ng-message="required">Text cannot be blank.</small>
                    <small class="help-block" data-ng-message="pattern">Should be valid value.</small>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ptmCtrl.cancel()">Cancel</button>
    <button class="btn btn-default" type="button" ng-disabled="form.$invalid" ng-click="ptmCtrl.save()">Save</button>
</div>