<div class="block-header">
    <h2>Reviews list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Reviews Table</h2>
    </div>

    <div class="card-body table-responsive">
        <table ng-table="rlCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Review</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-if="$data.length > 0">
                <tr ng-repeat="row in $data track by row.id">
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.review}}</td>
                    <td ng-switch="row.status">
                        <span ng-switch-when="DECLINED" class="label label-danger">DECLINED</span>
                        <span ng-switch-when="VERIFIED" class="label label-success">VERIFIED</span>
                        <span ng-switch-when="IN_VERIFICATION" class="label label-warning">IN VERIFICATION</span>
                    </td>
                    <td>
                        <a href="javascript: void(0)" data-ng-click="rlCtrl.deleteReview(row)" class="btn btn-sm btn-default" data-uib-tooltip="Remove review">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <span ng-if="row.status === 'IN_VERIFICATION'">
                            <a href="javascript: void(0);" uib-tooltip="Decline review" ng-click="rlCtrl.declineReview(row)" class="btn btn-default btn-danger btn-sm"><i class="zmdi zmdi-close"></i></a>
                            <a href="javascript: void(0);" uib-tooltip="Approve review" ng-click="rlCtrl.approveReview(row)" class="btn btn-default btn-success btn-sm"><i class="zmdi zmdi-check"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>

            <tbody ng-if="$data.length === 0">
                <tr>
                    <th colspan="7" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>