<a ui-sref="^.view"
   data-uib-tooltip="Add new car" data-tooltip-append-to-body="true"
   class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></a>

<div class="block-header">
    <h2>Cars list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Cars Table</h2>
    </div>

    <div class="card-body table-responsive">
        <table ng-table="clCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Domain</th>
                    <th>Price from, &euro;</th>
                    <th>Slug</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-if="$data.length > 0">
                <tr ng-repeat="row in $data track by row.id">
                    <td><a data-ui-sref="^.view({id: row.id})" data-uib-tooltip="Edit car">{{row.id}}</a></td>
                    <td><a data-ui-sref="domain.view({id: row.domain_id})" data-uib-tooltip="Edit domain">{{row.domain.domain}}</a></td>
                    <td>{{row.price === null ? 'coming soon' : (row.price / 100|number:2)}}</td>
                    <td>{{row.slug}}</td>
                    <td>{{row.brand}}</td>
                    <td>{{row.model}}</td>
                    <td>{{row.year}}</td>
                    <td>
                        <a data-ui-sref="^.view({id: row.id})" class="btn btn-sm btn-default" data-uib-tooltip="Edit car">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="javascript: void(0)" data-ng-click="clCtrl.deleteCar(row)" class="btn btn-sm btn-default" data-uib-tooltip="Remove car">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <button ng-if="!$last" ng-click="clCtrl.changeCarPriority($index, $index + 1)" class="btn btn-sm btn-default bgm-red" data-uib-tooltip="Decrease priority">
                            <i class="zmdi zmdi-long-arrow-down zmdi-hc-fw"></i>
                        </button>
                        <button ng-if="!$first" ng-click="clCtrl.changeCarPriority($index, $index - 1)" class="btn btn-sm btn-default bgm-green" data-uib-tooltip="Increase priority">
                            <i class="zmdi zmdi-long-arrow-up zmdi-hc-fw"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody ng-if="$data.length === 0">
                <tr>
                    <th colspan="8" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>