<div class="block-header">
    <h2 ng-if="cvCtrl.car.id">Edit {{::cvCtrl.car.brand}} {{::cvCtrl.car.model}} <small>{{::cvCtrl.car.year}}</small></h2>
    <h2 ng-if="!cvCtrl.car.id">Create new car</h2>
</div>

<form ng-submit="cvCtrl.saveCar(form)" role="form" name="form" class="clearfix" data-ng-server-validate novalidate>
<div class="card">
    <div class="card-header">
        <h2>Car form</h2>
    </div>
    <div class="card-body card-padding clearfix">
        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.brand.$dirty) && form.brand.$invalid}">
                    <div class="fg-line">
                        <label for="brand">Brand</label>
                        <input id="brand" type="text" class="input-sm fg-input form-control" name="brand" placeholder="ex: Chevrolet"
                               ng-model="cvCtrl.car.brand" required>
                    </div>
                    <div data-ng-messages="form.brand.$error" role="alert" ng-if="form.$submitted || form.brand.$dirty">
                        <small class="help-block" data-ng-message="required">Brand cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.brand.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.model.$dirty) && form.model.$invalid}">
                    <div class="fg-line">
                        <label for="model">Model</label>
                        <input id="model" type="text" class="input-sm fg-input form-control" name="model" placeholder="ex: Camaro LS1"
                               ng-model="cvCtrl.car.model" required>
                    </div>
                    <div data-ng-messages="form.model.$error" role="alert" ng-if="form.$submitted || form.model.$dirty">
                        <small class="help-block" data-ng-message="required">Model cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.model.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.price.$dirty) && form.price.$invalid}">
                    <div class="fg-line">
                        <label for="price">Price, &euro;</label>
                        <input id="price" type="number" min="0" step="1" class="input-sm fg-input form-control" name="price" placeholder="ex: 200"
                               ng-model="cvCtrl.car.price" ng-required="!cvCtrl.comingSoon" ng-disabled="cvCtrl.comingSoon">
                    </div>
                    <div data-ng-messages="form.price.$error" role="alert" ng-if="form.$submitted || form.price.$dirty">
                        <small class="help-block" data-ng-message="required">Price cannot be blank.</small>
                        <small class="help-block" data-ng-message="min">Price should be greater than &euro;0.00</small>
                        <small class="help-block" data-ng-message="server">{{form.price.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.year.$dirty) && form.year.$invalid}">
                    <div class="fg-line">
                        <label for="year">Year</label>
                        <input id="year" type="number" min="1900" step="1" max="{{cvCtrl.maxYear}}" class="input-sm fg-input form-control"
                               placeholder="ex: 2016" name="year" ng-model="cvCtrl.car.year" required>
                    </div>
                    <div data-ng-messages="form.year.$error" role="alert" ng-if="form.$submitted || form.year.$dirty">
                        <small class="help-block" data-ng-message="required">Car year cannot be blank.</small>
                        <small class="help-block" data-ng-message="min">Minimum year of car release is 1900.</small>
                        <small class="help-block" data-ng-message="max">Maximum year of car release is {{cvCtrl.maxYear}}.</small>
                        <small class="help-block" data-ng-message="server">{{form.year.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-3 p-t-30">
                <div class="form-group">
                    <div class="toggle-switch">
                        <label for="coming_soon" class="ts-label">Coming soon?</label>
                        <input id="coming_soon" type="checkbox" data-ng-model="cvCtrl.comingSoon" hidden="hidden">
                        <label for="coming_soon" class="ts-helper"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.domain.$dirty) && form.domain.$invalid}">
                    <div class="fg-line">
                        <label for="domain">Domain</label>
                        <div class="select">
                            <select class="form-control" id="domain" name="domain" required
                                    ng-options="domain.id as domain.domain for domain in cvCtrl.domains" ng-model="cvCtrl.car.domain_id">
                            </select>
                        </div>
                    </div>
                    <div data-ng-messages="form.domain.$error" role="alert" ng-if="form.$submitted || form.domain.$dirty">
                        <small class="help-block" data-ng-message="required">Domain cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.domain.$error.server}}</small>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-3">
                <div class="form-group">
                    <div class="toggle-switch">
                        <label for="is_active" class="ts-label">Is active?</label>
                        <input id="is_active" type="checkbox" data-ng-model="cvCtrl.car.is_active" hidden="hidden">
                        <label for="is_active" class="ts-helper"></label>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_title.$dirty) && form.meta_title.$invalid}">
                    <div class="fg-line">
                        <label for="meta_title">Meta title</label>
                        <input type="text" id="meta_title" class="input-sm fg-input form-control" name="meta_title" data-ng-model="cvCtrl.car.meta_title">
                    </div>
                    <div data-ng-messages="form.meta_title.$error" role="alert" ng-if="form.$submitted || form.meta_title.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_title.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_keywords.$dirty) && form.meta_keywords.$invalid}">
                    <div class="fg-line">
                        <label for="meta_keywords">Meta keywords</label>
                        <input type="text" id="meta_keywords" class="input-sm fg-input form-control" name="meta_keywords" data-ng-model="cvCtrl.car.meta_keywords">
                    </div>
                    <div data-ng-messages="form.meta_keywords.$error" role="alert" ng-if="form.$submitted || form.meta_keywords.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_keywords.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-b-10">
            <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_description.$dirty) && form.meta_description.$invalid}">
                <div class="fg-line">
                    <label for="meta_description">Meta description</label>
                    <textarea class="input-sm fg-input form-control" rows="4" id="meta_description" name="meta_description" data-ng-model="cvCtrl.car.meta_description"></textarea>
                </div>
                <div data-ng-messages="form.meta_description.$error" role="alert" ng-if="form.$submitted || form.meta_description.$dirty">
                    <small class="help-block" data-ng-message="server">{{form.meta_description.$error.server}}</small>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <button type="submit" class="btn btn-primary btn-sm pull-right waves-effect">Save</button>
        </div>
    </div>
</div>

<div class="card" data-ng-if="cvCtrl.car">
    <div class="card-header">
        <h2>Car view constructor</h2>
    </div>

    <div class="card-body card-padding clearfix">
        <item-view-constructor
                data-item="cvCtrl.car"
                data-form="form"
                data-type="car"
                data-assets="cvCtrl.assets"></item-view-constructor>
    </div>
</div>
</form>