<a ui-sref="^.view"
   data-uib-tooltip="Add new item list" data-tooltip-append-to-body="true"
   class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></a>

<div class="block-header">
    <h2>Items list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Items List Table</h2>
    </div>

    <div class="card-body table-responsive">
        <table ng-table="illCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Domain</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-if="$data.length > 0">
                <tr ng-repeat="row in $data track by row.id">
                    <td><a data-ui-sref="^.view({id: row.id})" data-uib-tooltip="Edit item list">{{row.id}}</a></td>
                    <td><a data-ui-sref="domain.view({id: row.domain_id})" data-uib-tooltip="Edit domain">{{row.domain.domain}}</a></td>
                    <td>{{row.name}}</td>
                    <td>{{row.slug}}</td>
                    <td>
                        <a data-ui-sref="^.view({id: row.id})" class="btn btn-sm btn-default" data-uib-tooltip="Edit item list">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="javascript: void(0)" data-ng-click="illCtrl.deleteItemList(row)" class="btn btn-sm btn-default" data-uib-tooltip="Remove item list">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>

            <tbody ng-if="$data.length === 0">
                <tr>
                    <th colspan="5" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>