<div class="block-header">
    <h2 ng-if="ilvCtrl.itemList.id">Edit {{::ilvCtrl.itemList.name}}</h2>
    <h2 ng-if="!ilvCtrl.itemList.id">Create new item list</h2>
</div>

<form ng-submit="ilvCtrl.saveItemList(form)" role="form" name="form" class="clearfix" data-ng-server-validate novalidate>
<div class="card">
    <div class="card-header">
        <h2>Item list form</h2>
    </div>
    <div class="card-body card-padding clearfix">
        <div class="clearfix m-b-15">
            <div class="col-sm-5">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.name.$dirty) && form.name.$invalid}">
                    <div class="fg-line">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="input-sm fg-input form-control" name="name" placeholder="ex: Events"
                               ng-model="ilvCtrl.itemList.name" required>
                    </div>
                    <div data-ng-messages="form.name.$error" role="alert" ng-if="form.$submitted || form.name.$dirty">
                        <small class="help-block" data-ng-message="required">Name cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.name.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.domain.$dirty) && form.domain.$invalid}">
                    <div class="fg-line">
                        <label for="domain">Domain</label>
                        <div class="select">
                            <select class="form-control input-sm" id="domain" name="domain" required
                                    ng-options="domain.id as domain.domain for domain in ilvCtrl.domains" ng-model="ilvCtrl.itemList.domain_id">
                            </select>
                        </div>
                    </div>
                    <div data-ng-messages="form.domain.$error" role="alert" ng-if="form.$submitted || form.domain.$dirty">
                        <small class="help-block" data-ng-message="required">Domain cannot be blank.</small>
                        <small class="help-block" data-ng-message="server">{{form.domain.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_title.$dirty) && form.meta_title.$invalid}">
                    <div class="fg-line">
                        <label for="meta_title">Meta title</label>
                        <input type="text" id="meta_title" class="input-sm fg-input form-control" name="meta_title" data-ng-model="ilvCtrl.itemList.meta_title">
                    </div>
                    <div data-ng-messages="form.meta_title.$error" role="alert" ng-if="form.$submitted || form.meta_title.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_title.$error.server}}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_keywords.$dirty) && form.meta_keywords.$invalid}">
                    <div class="fg-line">
                        <label for="meta_keywords">Meta keywords</label>
                        <input type="text" id="meta_keywords" class="input-sm fg-input form-control" name="meta_keywords" data-ng-model="ilvCtrl.itemList.meta_keywords">
                    </div>
                    <div data-ng-messages="form.meta_keywords.$error" role="alert" ng-if="form.$submitted || form.meta_keywords.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_keywords.$error.server}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-b-10">
            <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_description.$dirty) && form.meta_description.$invalid}">
                <div class="fg-line">
                    <label for="meta_description">Meta description</label>
                    <textarea class="input-sm fg-input form-control" rows="4" id="meta_description" name="meta_description" data-ng-model="ilvCtrl.itemList.meta_description"></textarea>
                </div>
                <div data-ng-messages="form.meta_description.$error" role="alert" ng-if="form.$submitted || form.meta_description.$dirty">
                    <small class="help-block" data-ng-message="server">{{form.meta_description.$error.server}}</small>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-20">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               data-ng-true-value="1"
                               data-ng-false-value="0"
                               data-ng-model="ilvCtrl.itemList.show_in_front_page">
                        <i class="input-helper"></i>
                        Show in front page?
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix m-b-15">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="front_asset_type" ng-model="ilvCtrl.itemList.front_asset_type" value="image">
                        <i class="input-helper"></i>
                        In the header on the front page should be image
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="front_asset_type" ng-model="ilvCtrl.itemList.front_asset_type" value="video">
                        <i class="input-helper"></i>
                        In the header on the front page should be video
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <button type="submit" class="btn btn-primary btn-sm pull-right waves-effect">Save</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Page constructor</h2>
    </div>
    <div class="card-body card-padding clearfix">
        <page-constructor
                data-skip-contact-image="true"
                data-skip-performance-image="true"
                data-skip-garage-photo="true"
                data-instance="ilvCtrl.itemList"
                data-form="form"></page-constructor>
    </div>
</div>
</form>