<div class="lc-block-outer">
    <div class="lc-block toggled">
        <form name="form" novalidate ng-submit="authCtrl.signin(form)" role="form" data-ng-server-validate>
            <div class="input-group m-b-20" ng-class="{'has-error': (form.$submitted || form.email.$dirty) && form.email.$invalid}">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="authCtrl.credentials.email" autofocus required>
                </div>
                <div data-ng-messages="form.email.$error" role="alert" ng-if="form.$submitted || form.email.$dirty">
                    <small class="help-block text-left" data-ng-message="required">Email cannot be blank.</small>
                    <small class="help-block text-left" data-ng-message="email">Email is not a valid email address.</small>
                    <small class="help-block text-left" data-ng-message="server">{{form.email.$error.server}}</small>
                </div>
            </div>

            <div class="input-group m-b-20" ng-class="{'has-error': (form.password.$dirty || form.$submitted) && form.password.$invalid}">
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                <div class="fg-line">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="authCtrl.credentials.password" required>
                </div>
                <div data-ng-messages="form.password.$error" role="alert" ng-if="form.$submitted || form.password.$dirty">
                    <small class="help-block text-left" data-ng-message="required">Password cannot be blank.</small>
                    <small class="help-block text-left" data-ng-message="server">{{form.password.$error.server}}</small>
                </div>
            </div>

            <div class="clearfix"></div>
            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>
    </div>
</div>