.browser {
  position: relative;
  &:before {
    position: absolute;
    background: #a0ddc9;
    border-radius: 6px 6px 0 0;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    z-index: 1;
    animation: no-height .4s linear both .5s;
  }

  &-container {
    margin: 0 auto;
  }

  &-header {
    background: #656565;
    height: 33px;
    display: block;
    border-radius: 6px 6px 0 0;
    padding: 12px 13px
  }

  &-controls {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    display: inline-block;
    float: left;
    opacity: 0;

    & + & {
      margin-left: 4px
    }

    &:first-child {
      background: #ea4f3b;
      animation: scale .5s ease-in-out both 1s;
    }

    &:nth-child(2) {
      background: #fac510;
      animation: scale .5s ease-in-out both 1.25s;
    }

    &:last-child {
      background: #39a17e;
      animation: scale .5s ease-in-out both 1.5s;
    }
  }

  &-greenbar {
    background: #45bd95;
    font-weight: 500;
    line-height: 33px;
    color: #fff;
    text-align: center;

    a {
      color: #fff;
    }

    .zmdi {
      margin-right: 3px
    }
  }

  &-body {
    background: #efece7;
    padding: 10px 15px 21px
  }

  &-footer {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: #3e3c36;
      height: 8px;
      width: 100%;
      transform: scaleX(0);
      animation: scaleX .5s ease-out both;
    }
  }

  [dnd-list] {
    .row {
      position: relative;
    }

    .dndPlaceholder {
      background: #d0dbda;
      cursor: pointer;
      border: 1px dashed #3e3c36;
      line-height: 50px;
      text-align: center;
    }

    .dndDraggingSource {
      display: none;
    }
  }

  &-placeholder {
    background: #d3c9bc;
    cursor: pointer;
    border: 2px dashed transparent;
    position: relative;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 20px 0 10px;

    &:hover {
      border-color: #3e3c36;
    }

    &.has-error {
      border-color: #f6675d;
    }

    .zmdi {
      position: absolute;
      font-size: large;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      padding: 3px;
    }

    &-lg {
      line-height: 50px;
    }

    &-md {
      line-height: 35px;
    }

    &-sm {
      line-height: 20px;
    }
  }

  .row-wrapper {
    min-height: 50px;
  }
}

.layout {
  .clearfix;
  background: #f1f2e9;
  border: 1px solid #a8bdbd;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .05);
  padding: 1px;
  cursor: pointer;

  &-col {
    background: #d0dbda;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    text-align: center;
    font-size: smaller;

    &-1 {
      width: 100%;
    }

    &-2 {
      & + & {
        float: right;
      }
      width: 49.5%;
    }
  }
}

@keyframes no-width {
  to {
    width: 0
  }
}

@-webkit-keyframes no-width {
  to {
    width: 0
  }
}
@keyframes scale {
  75% {
    transform: scale(1.5);
    opacity: .75
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

@-webkit-keyframes scale {
  75% {
    -webkit-transform: scale(1.5);
    opacity: .75
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1
  }
}


@keyframes scaleX {
  to {
    transform: scaleX(1)
  }
}

@-webkit-keyframes scaleX {
  to {
    -webkit-transform: scaleX(1)
  }
}