.car-image-preview {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.car-image-preview,
.car-video-preview {
  width: 180px;
  height: 100px;
}

.car-video-preview {
  position: relative;
  video {
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}