<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="rCtrl.sidebarToggle.left" data-ng-class="{open: rCtrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="rCtrl.sidebarStat($event)">{{ rCtrl.domain | capitalize }}</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="rCtrl.layoutType">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>

            <li class="dropdown" uib-dropdown auto-close="outsideClick">
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts" ng-if="hCtrl.uncompletedOrders.length > 0">{{hCtrl.uncompletedOrders.length}}</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right" role="menu" uib-dropdown-menu>
                    <div class="listview" id="notifications">
                        <div class="lv-header">New orders requests</div>
                        <div class="lv-body">
                            <a class="lv-item" ng-repeat="uOrder in hCtrl.uncompletedOrders" ui-sref="order.view({id: uOrder.id})">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="lv-title">
                                            <i class="zmdi zmdi-account"></i> {{ uOrder.name }}
                                            <i class="zmdi zmdi-phone m-l-10"></i>&nbsp;
                                            +{{ uOrder.phone | tel}}
                                        </div>
                                        <small class="lv-small">
                                            <i class="zmdi zmdi-car"></i> {{uOrder.items.join(', ')}}
                                        </small>
                                        <small class="lv-small">
                                            <ng-pluralize count="uOrder.days_count" when="{'1': ' {} day', 'other': ' {} days'}"></ng-pluralize>
                                            &nbsp;<i class="zmdi zmdi-arrow-right"></i>
                                            {{ uOrder.price / 100 }}&euro;
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </li>

            <li class="dropdown" uib-dropdown auto-close="outsideClick">
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right" role="menu" uib-dropdown-menu >
                    <li class="skin-switch hidden-xs">
                        <span ng-repeat="w in rCtrl.skinList | limitTo : 6" class="ss-skin bgm-{{ w }}" data-ng-click="rCtrl.skinSwitch(w)"></span>
                    </li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs">
                        <a data-ng-click="hCtrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>