<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" data-toggle-submenu>
            <div class="profile-info">
                {{user.email}}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="javascript:void(0)" ng-click="sCtrl.logout()">
                    <i class="zmdi zmdi-time-restore"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li data-ng-class="{'active toggled': $state.includes('order')}">
            <a data-ui-sref="order.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-shopping-cart"></i> Orders</a>
        </li>
        <li data-ng-class="{'active': $state.includes('car')}">
            <a data-ui-sref="car.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-car"></i> Cars</a>
        </li>
        <li data-ng-class="{'active': $state.includes('garage')}">
            <a data-ui-sref="garage.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-car-taxi"></i> Garage</a>
        </li>
        <li data-ng-class="{'active': $state.includes('item-list')}">
            <a data-ui-sref="item-list.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-collection-folder-image"></i> Item List</a>
        </li>
        <li data-ng-class="{'active': $state.includes('item')}">
            <a data-ui-sref="item.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-collection-image"></i> Item</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="user.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-accounts"></i> Users</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="domain.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-google-earth"></i> Domains</a>
        </li>
        <!--<li data-ui-sref-active="active">
            <a data-ui-sref="review.list" data-ng-click="rCtrl.sidebarStat($event)"><i class="zmdi zmdi-comments"></i> Reviews</a>
        </li>-->
    </ul>
</div>
