<div class="block-header">
    <h2>Orders list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Orders Table</h2>
    </div>

    <div class="card-body table-responsive">
        <table ng-table="olCtrl.tableParams" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cancelled<br>by order</th>
                    <th>Cancelled<br>orders</th>
                    <th>User name/phone</th>
                    <th>Total price, &euro;</th>
                    <th>Order items</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody ng-if="$data.length > 0">
                <tr ng-repeat="row in $data track by row.id">
                    <td><a data-ui-sref="^.view({id: row.id})" uib-tooltip="View order details">{{row.id}}</a></td>
                    <td>
                        <a ng-if="row.cancelled_id" data-ui-sref="^.view({id: row.cancelled_id})" uib-tooltip="View order details which cancel this order">{{row.cancelled_id}}</a>
                        <span ng-if="!row.cancelled_id">-</span>
                    </td>
                    <td>
                        <div ng-if="row.cancelledOrders && row.cancelledOrders.length > 0">
                            <span ng-repeat="cancelledOrder in row.cancelledOrders">
                                <a data-ui-sref="^.view({id: cancelledOrder.id})" uib-tooltip="View cancelled order details">{{cancelledOrder.id}}</a>
                                <span ng-if="!$last">, </span>
                            </span>
                        </div>
                        <span ng-if="!row.cancelledOrders || !row.cancelledOrders.length">-</span>
                    </td>
                    <td>{{row.user.name}}/<a href="tel:{{row.user.phone}}" uib-tooltip="Call to user">{{row.user.phone|tel}}</a></td>
                    <td>{{row.total_price/100|number:2}}</td>
                    <td>
                        <table class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Car/Cortege</th>
                                    <th>Price, &euro;</th>
                                    <th>Status</th>
                                    <th>Rental date</th>
                                    <th>Days cnt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderItem in row.orderItems">
                                    <td>
                                        <a uib-tooltip="Open car" ng-repeat="car in row.cars" ui-sref="car.view({id: car.id})" ng-if="car.id === orderItem.car_id">{{car.brand}} {{car.model}}, {{car.year}}</a>
                                        <a uib-tooltip="Open cortege" ng-repeat="garage in row.garages" ui-sref="garage.view({id: cortege.id})" ng-if="garage.id === orderItem.garage_id">{{garage.name}}</a>
                                    </td>
                                    <td>{{orderItem.price / 100|number:2}}</td>
                                    <td ng-switch="orderItem.status">
                                        <span ng-switch-when="EXPIRED" class="label label-danger">EXPIRED</span>
                                        <span ng-switch-when="FAILED" class="label label-danger">FAILED</span>
                                        <span ng-switch-when="IN_PROGRESS" class="label label-warning">IN PROGRESS</span>
                                        <span ng-switch-when="CANCELLED" class="label label-danger">CANCELLED</span>
                                        <span ng-switch-when="COMPLETED" class="label label-success">COMPLETED</span>
                                    </td>
                                    <td>{{orderItem.begins_at}}</td>
                                    <td>{{orderItem.days_count}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="text-nowrap">
                        <a data-ui-sref="^.view({id: row.id})" uib-tooltip="View order details" class="btn btn-default btn-sm"><i class="zmdi zmdi-shopping-cart"></i></a>
                        <span ng-if="row.can_pay">
                            <a href="javascript: void(0);" uib-tooltip="Decline order" ng-click="olCtrl.declineOrder(row)" class="btn btn-default btn-danger btn-sm"><i class="zmdi zmdi-close"></i></a>
                            <a href="javascript: void(0);" uib-tooltip="Approve order" ng-click="olCtrl.approveOrder(row)" class="btn btn-default btn-success btn-sm"><i class="zmdi zmdi-check"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>

            <tbody ng-if="$data.length === 0">
                <tr>
                    <th colspan="7" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>