<div class="block-header">
    <h2>View order <strong>#{{ovCtrl.order.id}}</strong> details</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Order common info</h2>
    </div>
    <div class="card-body card-padding">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cancelled<br>by order</th>
                    <th>Cancelled<br>orders</th>
                    <th>Total price, &euro;</th>
                    <th>Created at</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ovCtrl.order.id}}</td>
                    <td>
                        <a ng-if="ovCtrl.order.cancelled_id" data-ui-sref="orders.view({id: ovCtrl.order.cancelled_id})" uib-tooltip="View order details which cancel this order">{{ovCtrl.order.cancelled_id}}</a>
                        <span ng-if="!ovCtrl.order.cancelled_id">-</span>
                    </td>
                    <td>
                        <div ng-if="ovCtrl.order.cancelledOrders && ovCtrl.order.cancelledOrders.length > 0">
                            <span ng-repeat="cancelledOrder in ovCtrl.order.cancelledOrders">
                                <a data-ui-sref="orders.view({id: cancelledOrder.id})" uib-tooltip="View cancelled order details">{{cancelledOrder.id}}</a>
                                <span ng-if="!$last">, </span>
                            </span>
                        </div>
                        <span ng-if="!ovCtrl.order.cancelledOrders || !ovCtrl.order.cancelledOrders.length">-</span>
                    </td>
                    <td>{{ovCtrl.order.total_price/100|number:2}}</td>
                    <td>{{ovCtrl.order.created_at}}</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>Order items</h2>
    </div>
    <div class="card-body card-padding">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Car/Cortege</th>
                <th>Price, &euro;</th>
                <th>Status</th>
                <th>Rental date</th>
                <th>Days cnt</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderItem in ovCtrl.order.orderItems">
                <td>
                    <a uib-tooltip="Open car" ng-repeat="car in ovCtrl.order.cars" ui-sref="car.view({id: car.id})" ng-if="car.id === orderItem.car_id">{{car.brand}} {{car.model}}, {{car.year}}</a>
                    <a uib-tooltip="Open cortege" ng-repeat="garage in ovCtrl.order.garages" ui-sref="garage.view({id: garage.id})" ng-if="garage.id === orderItem.garage_id">{{garage.name}}</a>
                </td>
                <td>{{orderItem.price / 100|number:2}}</td>
                <td ng-switch="orderItem.status">
                    <span ng-switch-when="EXPIRED" class="label label-danger">EXPIRED</span>
                    <span ng-switch-when="FAILED" class="label label-danger">FAILED</span>
                    <span ng-switch-when="IN_PROGRESS" class="label label-warning">IN PROGRESS</span>
                    <span ng-switch-when="CANCELLED" class="label label-danger">CANCELLED</span>
                    <span ng-switch-when="COMPLETED" class="label label-success">COMPLETED</span>
                </td>
                <td>{{orderItem.begins_at}}</td>
                <td>{{orderItem.days_count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2>User info</h2>
    </div>
    <div class="card-body card-padding">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a data-ui-sref="users.view({id: ovCtrl.user.id})" uib-tooltip="Edit user details">{{ovCtrl.user.id}}</a></td>
                    <td>{{ovCtrl.user.name || '-'}}</td>
                    <td>
                        <a href="tel:{{ovCtrl.user.phone}}" ng-if="ovCtrl.user.phone">{{ovCtrl.user.phone}}</a>
                        <span ng-if="!ovCtrl.user.phone">-</span>
                    </td>
                    <td>{{ovCtrl.user.email || '-'}}</td>
                    <td>{{ovCtrl.user.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>