<div class="block-header">
    <h2 ng-if="ilCtrl.item.id">Edit {{::ilCtrl.item.name}} {{::ilCtrl.item.model}} <small>{{::ilCtrl.item.year}}</small></h2>
    <h2 ng-if="!ilCtrl.item.id">Create new car</h2>
</div>

<form ng-submit="ilCtrl.saveItem(form)" role="form" name="form" class="clearfix" data-ng-server-validate novalidate>
    <div class="card">
        <div class="card-header">
            <h2>Car form</h2>
        </div>
        <div class="card-body card-padding clearfix">
            <div class="clearfix m-b-15">
                <div class="col-sm-7">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.name.$dirty) && form.name.$invalid}">
                        <div class="fg-line">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="input-sm fg-input form-control" name="name" placeholder="ex: Party on some club"
                                   ng-model="ilCtrl.item.name" required>
                        </div>
                        <div data-ng-messages="form.name.$error" role="alert" ng-if="form.$submitted || form.name.$dirty">
                            <small class="help-block" data-ng-message="required">Name cannot be blank.</small>
                            <small class="help-block" data-ng-message="server">{{form.name.$error.server}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.date.$dirty) && form.date.$invalid}">
                        <div class="date-picker" ng-class="{'is-opened': ilCtrl.dateOpened === true}">
                            <div class="fg-line" ng-class="{'fg-toggled': ilCtrl.dateOpened === true}">
                                <label for="date">Date</label>
                                <input type="text" class="input-sm fg-input form-control" placeholder="Click to pick date" required
                                       name="date" id="date"
                                       ng-click="ilCtrl.openDatePopup($event)"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       show-weeks="false" ng-model="ilCtrl.item.date"
                                       is-open="ilCtrl.dateOpened"
                                       datepicker-options="ilCtrl.dateOptions"
                                       close-text="Close">
                            </div>
                            <div data-ng-messages="form.date.$error" role="alert" ng-if="form.$submitted || form.date.$dirty">
                                <small class="help-block" data-ng-message="required">Date of item cannot be blank.</small>
                                <small class="help-block" data-ng-message="server">{{form.date.$error.server}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.item_list.$dirty) && form.item_list.$invalid}">
                        <div class="fg-line">
                            <label for="item_list">Item list</label>
                            <div class="select">
                                <select class="form-control input-sm" id="item_list" name="item_list" required
                                        ng-options="itemList.id as itemList.name for itemList in ilCtrl.itemLists" ng-model="ilCtrl.item.item_list_id">
                                </select>
                            </div>
                        </div>
                        <div data-ng-messages="form.item_list.$error" role="alert" ng-if="form.$submitted || form.item_list.$dirty">
                            <small class="help-block" data-ng-message="required">Item list cannot be blank.</small>
                            <small class="help-block" data-ng-message="server">{{form.item_list.$error.server}}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix m-b-15">
                <div class="col-sm-6">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_title.$dirty) && form.meta_title.$invalid}">
                        <div class="fg-line">
                            <label for="meta_title">Meta title</label>
                            <input type="text" id="meta_title" class="input-sm fg-input form-control" name="meta_title" data-ng-model="ilCtrl.item.meta_title">
                        </div>
                        <div data-ng-messages="form.meta_title.$error" role="alert" ng-if="form.$submitted || form.meta_title.$dirty">
                            <small class="help-block" data-ng-message="server">{{form.meta_title.$error.server}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_keywords.$dirty) && form.meta_keywords.$invalid}">
                        <div class="fg-line">
                            <label for="meta_keywords">Meta keywords</label>
                            <input type="text" id="meta_keywords" class="input-sm fg-input form-control" name="meta_keywords" data-ng-model="ilCtrl.item.meta_keywords">
                        </div>
                        <div data-ng-messages="form.meta_keywords.$error" role="alert" ng-if="form.$submitted || form.meta_keywords.$dirty">
                            <small class="help-block" data-ng-message="server">{{form.meta_keywords.$error.server}}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 m-b-10">
                <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.meta_description.$dirty) && form.meta_description.$invalid}">
                    <div class="fg-line">
                        <label for="meta_description">Meta description</label>
                        <textarea class="input-sm fg-input form-control" rows="4" id="meta_description" name="meta_description" data-ng-model="ilCtrl.item.meta_description"></textarea>
                    </div>
                    <div data-ng-messages="form.meta_description.$error" role="alert" ng-if="form.$submitted || form.meta_description.$dirty">
                        <small class="help-block" data-ng-message="server">{{form.meta_description.$error.server}}</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 clearfix">
                <button type="submit" class="btn btn-primary btn-sm pull-right waves-effect">Save</button>
            </div>
        </div>
    </div>

    <div class="card" data-ng-if="ilCtrl.item">
        <div class="card-header">
            <h2>Car view constructor</h2>
        </div>

        <div class="card-body card-padding clearfix">
            <item-view-constructor
                    data-item="ilCtrl.item"
                    data-form="form"
                    data-type="item"
                    data-assets="ilCtrl.assets"></item-view-constructor>
        </div>
    </div>
</form>