<div>
    <div class="col-sm-6 m-b-15">
        <div class="browser-container animated">
            <div class="browser">
                <div class="browser-header">
                    <div class="browser-controls"></div>
                    <div class="browser-controls"></div>
                    <div class="browser-controls"></div>
                </div>
                <div class="browser-greenbar">
                    <span ng-if="!item.id"><span class="zmdi zmdi-lock"></span> https://luxury.md/cars/{{item.slug}}</span>
                    <a ng-if="item.id" ng-href="https://luxury.md/{{type}}s/{{item.slug}}" target="_blank"><span class="zmdi zmdi-lock"></span> https://luxury.md/{{type}}s/{{item.slug}}</a>
                </div>
                <div class="browser-body">
                    <div class="row clearfix m-b-5">
                        <div class="col-sm-12 text-center">
                            <div class="browser-placeholder browser-placeholder-lg"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip-template="'templates/car/directive/photo.html'"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="item.photo"
                                 name="front_image"
                                 data-ng-class="{'has-error': (form.$submitted || form.front_image.$dirty) && form.front_image.$invalid}"
                                 ng-mouseenter="setActiveImg(item.photo)"
                                 ngf-select
                                 data-ng-model="item.photo"
                                 data-ng-required="!item.photo"
                                 data-ngf-validate="imageValidation"
                                 data-ngf-multiple="false"
                                 data-ngf-drop-available="false"
                                 data-ngf-accept="'image/*'"
                                 data-ngf-run-all-validations="true">
                                &lt;front image&gt;
                                <strong ng-if="item.photo">({{item.photo.name || item.photo}})</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-5">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <input type="hidden" name="title" required= ng-model="item.title">
                            <div class="browser-placeholder browser-placeholder-sm"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip="{{item.title}}"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="item.title"
                                 data-ng-class="{'has-error': (form.$submitted || form.title.$dirty) && form.title.$invalid}"
                                 ng-click="changeTextModal('item.title', {size: 'sm', required: true})">
                                &lt;title&gt; <strong ng-if="item.title">({{item.title}})</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-5">
                        <div class="col-sm-offset-1 col-sm-10 text-center">
                            <input type="hidden" name="text" ng-model="item.text">
                            <div class="browser-placeholder browser-placeholder-md"
                                 tooltip-popup-close-delay='100'
                                 tooltip-placement="auto"
                                 uib-tooltip="{{item.text|limitTo:70}}&hellip;"
                                 tooltip-append-to-body="true"
                                 tooltip-enable="item.text"
                                 data-ng-class="{'has-error': (form.$submitted || form.text.$dirty) && form.text.$invalid}"
                                 ng-click="changeTextModal('item.text')">
                                &lt;text&gt; <strong ng-if="item.text">({{item.text}})</strong>
                            </div>
                        </div>
                    </div>
                    <div dnd-list="assets" class="row-wrapper clearfix">
                        <div class="row clearfix m-b-5"
                            ng-repeat="(i, row) in assets"
                            dnd-draggable="row"
                            dnd-moved="deleteAsset($index)"
                            dnd-effect-allowed="move">

                            <div ng-repeat="(j, col) in row" class="text-center col-sm-{{col.cols}}" ng-switch="col.type">
                                <div class="browser-placeholder browser-placeholder-lg" ng-switch-when="image"
                                     tooltip-popup-close-delay='100'
                                     tooltip-placement="auto"
                                     uib-tooltip-template="'templates/car/directive/photo.html'"
                                     tooltip-append-to-body="true"
                                     tooltip-enable="col.value"
                                     name="asset_{{i}}_{{j}}"
                                     data-ng-class="{'has-error': (form.$submitted || form['asset_' + i + '_' + j].$dirty) && form['asset_' + i + '_' + j].$invalid}"
                                     ng-mouseenter="setActiveImg(col.value)"
                                     ngf-select
                                     data-ng-model="col.value"
                                     data-ng-required="!col.value"
                                     data-ngf-multiple="false"
                                     data-ngf-drop-available="false"
                                     data-ngf-accept="'image/*'"
                                     data-ngf-run-all-validations="true"
                                     data-ngf-validate="imageValidation">

                                    &lt;{{col.type}}&gt; <strong ng-if="col.value">({{col.value.name}})</strong>
                                    <i class="zmdi zmdi-close" ng-click="deleteAsset(i)"></i>
                                </div>

                                <div class="browser-placeholder browser-placeholder-lg" ng-switch-when="text"
                                     data-ng-class="{'has-error': (form.$submitted || form['asset_' + i + '_' + j].$dirty) && form['asset_' + i + '_' + j].$invalid}"
                                     tooltip-popup-close-delay='100'
                                     tooltip-placement="auto"
                                     uib-tooltip="{{col.value|limitTo:70}}&hellip;"
                                     tooltip-append-to-body="true"
                                     tooltip-enable="col.value"
                                     ng-click="changeTextModal('value', {scope: col, required: true})">
                                    <input type="hidden" name="asset_{{i}}_{{j}}" required ng-model="col.value">

                                    &lt;{{col.type}}&gt; <strong ng-if="col.value">({{col.value}})</strong>
                                    <i class="zmdi zmdi-close" ng-click="deleteAsset(i)"></i>
                                </div>

                                <div class="browser-placeholder browser-placeholder-lg" ng-switch-when="video"
                                     data-ng-class="{'has-error': (form.$submitted || form['asset_' + i + '_' + j].$dirty) && form['asset_' + i + '_' + j].$invalid}"
                                     ng-click="changeTextModal('value', {scope: col, size: 'sm', pattern: youtubeVideoPattern, required: true})">
                                    <input type="hidden" name="asset_{{i}}_{{j}}" required ng-model="col.value">

                                    &lt;{{col.type}}&gt; <strong ng-if="col.value">({{col.value}})</strong>
                                    <i class="zmdi zmdi-close" ng-click="deleteAsset(i)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="dndPlaceholder m-b-5">Drop here</div>
                    </div>
                </div>
            </div>
            <div class="browser-footer"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="clearfix m-b-15">
            <div class="col-sm-4 m-b-10" ng-repeat="listItem in typeList" dnd-effect-allowed="copy" dnd-draggable="listItem">
                <div class="layout">
                    <div ng-repeat="col in listItem" class="layout-col layout-col-{{listItem.length}}">{{col.type}}</div>
                </div>
            </div>
        </div>
        <!--todo: make a little bit pretty-->
        <div class="clearfix m-l-15 form-group has-error">
            <div data-ng-messages="form.title.$error" role="alert" ng-if="form.$submitted || form.title.$dirty">
                <small class="help-block" data-ng-message="required">Title cannot be blank.</small>
                <small class="help-block" data-ng-message="server">{{form.title.$error.server}}</small>
            </div>

            <div data-ng-messages="form.text.$error" role="alert" ng-if="form.$submitted || form.text.$dirty">
                <small class="help-block" data-ng-message="required">Text cannot be blank.</small>
                <small class="help-block" data-ng-message="server">{{form.text.$error.server}}</small>
            </div>

            <div ng-repeat="(i, asset) in assets">
                <div  ng-repeat="(j, col) in asset" data-ng-messages="form['asset_' + i + '_' + j].$error" role="alert" ng-if="form.$submitted || form['asset_' + i + '_' + j].$dirty">
                    <small class="help-block" data-ng-message="required" ng-switch="col.type">
                        Items's
                        <span ng-switch-when="video">video</span>
                        <span ng-switch-when="image">image</span>
                        <span ng-switch-when="text">text</span>
                        cannot be blank.
                    </small>

                    <small class="help-block" data-ng-message="minWidth">Item's photo width should be greater than {{imageValidation.width.min}}px.</small>
                    <small class="help-block" data-ng-message="minHeight">Item's photo height should be greater than {{imageValidation.height.min}}px.</small>
                </div>
            </div>

            <div data-ng-messages="form.front_image.$error" role="alert" ng-if="form.$submitted || form.front_image.$dirty">
                <small class="help-block" data-ng-message="required">Item's front photo cannot be blank.</small>

                <small class="help-block" data-ng-message="minWidth">Item's front photo width should be greater than {{imageValidation.width.min}}px.</small>
                <small class="help-block" data-ng-message="minHeight">Item's front photo height should be greater than {{imageValidation.height.min}}px.</small>
            </div>
        </div>
    </div>
</div>