<a data-ui-sref="^.view" class="btn btn-float btn-danger m-btn" data-uib-tooltip="Add new user"><i class="zmdi zmdi-plus"></i></a>

<div class="block-header">
    <h2>Users list</h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>Users Table</h2>
    </div>
    <div class="card-body table-responsive">
        <table data-ng-table="ulCtrl.tableParams" class="table table-striped table-bordered table-vmiddle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody data-ng-if="$data.length > 0">
                <tr data-ng-repeat="user in $data">
                    <td><a data-ui-sref="^.view({id: user.id})" data-uib-tooltip="Edit user">{{user.id}}</a></td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone | tel}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <a data-ui-sref="^.view({id: user.id})" class="btn btn-sm btn-default" data-uib-tooltip="Edit user">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="$data.length === 0">
                <tr>
                    <th colspan="6" class="text-center">No records to display</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>