<div class="block-header">
    <h2>
        <span data-ng-if="uvCtrl.user.id">Edit user <strong>#{{::uvCtrl.user.id}}</strong></span>
        <span data-ng-if="!uvCtrl.user.id">Create user</span>
    </h2>
</div>

<div class="card">
    <div class="card-header">
        <h2>User form</h2>
    </div>

    <div class="card-body card-padding">
        <form role="form" class="clearfix" name="form" data-ng-submit="uvCtrl.saveUser(form)" novalidate data-ng-server-validate>
            <div class="clearfix m-b-20">
                <div class="col-sm-5">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.email.$dirty) && form.email.$invalid}">
                        <div class="fg-line">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control input-sm" id="email" name="email" data-ng-model="uvCtrl.user.email" placeholder="Enter email" required>
                        </div>
                        <div data-ng-messages="form.email.$error" role="alert" data-ng-if="form.$submitted || form.email.$dirty">
                            <small class="help-block" data-ng-message="required">Email cannot be blank.</small>
                            <small class="help-block" data-ng-message="email">Email is not a valid email address.</small>
                            <small class="help-block" data-ng-message="server">{{form.email.$error.server}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.name.$dirty) && form.name.$invalid}">
                        <div class="fg-line">
                            <label for="name">Name</label>
                            <input type="text" class="form-control input-sm" id="name" name="name" data-ng-model="uvCtrl.user.name" placeholder="Enter name" required>
                        </div>
                        <div data-ng-messages="form.name.$error" role="alert" data-ng-if="form.$submitted || form.name.$dirty">
                            <small class="help-block" data-ng-message="required">Name cannot be blank.</small>
                            <small class="help-block" data-ng-message="server">{{form.name.$error.server}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group fg-line select">
                        <label for="type">User role</label>
                        <select id="type" class="form-control input-sm"
                                data-ng-model="uvCtrl.user.role"
                                data-ng-options="key as value for (key, value) in uvCtrl.userRoles">
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-6">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.password.$dirty) && form.password.$invalid}">
                        <div class="fg-line">
                            <label for="password">
                                <span ng-if="uvCtrl.user.id">New</span>
                                Password
                            </label>
                            <input type="password" class="form-control input-sm" name="password" id="password" placeholder="Password"
                                   data-ng-model="uvCtrl.user.password" data-ng-minlength="6"
                                   data-ng-required="!uvCtrl.user.id">
                        </div>
                        <div data-ng-messages="form.password.$error" role="alert" data-ng-if="form.$submitted || form.password.$dirty">
                            <small class="help-block" data-ng-message="required">Password cannot be blank.</small>
                            <small class="help-block" data-ng-message="minlength">Password length should be greater or equal with 6.</small>
                            <small class="help-block" data-ng-message="server">{{form.password.$error.server}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-b-10">
                    <div class="form-group" data-ng-class="{'has-error': (form.$submitted || form.repeatPassword.$dirty) && form.repeatPassword.$invalid}">
                        <div class="fg-line">
                            <label for="repeat-password">Repeat password</label>
                            <input type="password" class="form-control input-sm" name="repeatPassword" id="repeat-password" placeholder="Repeat password"
                                   data-ng-model="uvCtrl.user.repeatPassword"
                                   data-password-verify="uvCtrl.user.password"
                                   data-ng-required="!uvCtrl.user.id">
                        </div>
                        <div data-ng-messages="form.repeatPassword.$error" role="alert" data-ng-if="form.$submitted || form.repeatPassword.$dirty">
                            <small class="help-block" data-ng-message="required">Repeat password cannot be blank.</small>
                            <small class="help-block" data-ng-message="passwordVerify">Passwords should be the same.</small>
                            <small class="help-block" data-ng-message="server">{{form.repeatPassword.$error.server}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
        </form>
    </div>
</div>